@font-face {
    font-family: 'Novelin-Reg';
    src: url('../assets/fonts/Novelin-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Novelin-Bold';
    src: url('../assets/fonts/Novelin-Bold.otf') format('opentype');
}

:root {
    --color-white: #f3f3f3;

    --color-background: #f8f7f7;
    --color-background-complement: #f1f1f1;

    --color-text: #151515;
    --color-text-complement: #3b3b3b;
    --color-text-unimportant: #696969;

    --color-primary: #e5e5eb;
    --color-secondary: #cdcddb;
    --color-ascent: #ffb217;
}

body {
    background-color: var(--color-background);
    font-family: 'Novelin-Reg', sans-serif;
    color: var(--color-text);
}

.navbar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    margin: 0 auto;
    padding: 1rem 2rem;
    background-color: var(--color-main);
    z-index: 10000;
    border-bottom: none;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.navbar .nav-links a {
    color: var(--color-text);
    text-decoration: none;
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: normal;
}

.navbar .nav-links a:hover {
    font-weight: bold;
}

.navbar .logo {
    font-family: 'Novelin-Bold', sans-serif;
    position: absolute;
    left: 2rem;
    top: 2rem;
    letter-spacing: .2rem;
}

.navbar .logo span {
    color: var(--color-ascent);
}